[Unit]
Description=FishAI Service
After=network-online.target sound.target
Wants=network-online.target

[Service]
User=bkahl
Group=bkahl

WorkingDirectory=/home/bkahl/FishAI
ExecStart=/home/bkahl/FishAI/venv/bin/python -u client/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
