<!DOCTYPE html>
<html>

<head>
  <title>Fish Control</title>
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css' ) }}">
</head>

<body>
  <h1>Control The Fish</h1>

  <div class="control-container">
    <div class="button-container">
      <h2>Head Control</h2>
      <button onclick="sendFishCommand('move_head_out')">Move Head Out</button>
      <button onclick="sendFishCommand('move_head_in')">Move Head In</button>
    </div>

    <div class="button-container">
      <h2>Tail Control</h2>
      <button onclick="sendFishCommand('move_tail_out')">Move Tail Out</button>
      <button onclick="sendFishCommand('move_tail_in')">Move Tail In</button>
    </div>

    <div class="button-container">
      <h2>Mouth Control</h2>
      <button onclick="sendFishCommand('move_mouth_out')">Move Mouth Out</button>
      <button onclick="sendFishCommand('move_mouth_in')">Move Mouth In</button>
    </div>
  </div>

  <hr>
  <h2>Speak to Gemini</h2>
  <div>
    <textarea id="gemini-input" placeholder="Type your message for Gemini here..."></textarea><br>
    <button class="control-button" onclick="sendGeminiCommand()">Ask Gemini</button>
  </div>

  <hr>
  <h2>Test ElevenLabs</h2>
  <div>
    <textarea id='elevenlabs-input' placeholder='Type your message for Elevenlabs here...'></textarea><br>
    <button class='control-button' onclick='sendElevenLabsCommand()'>Test ElevenLabs</button>
  </div>

  <div id="status-message">
    Status: Ready
  </div>

  <div class="control-container">
    <div class="button-container">
      <h2>Change Fish Personality</h2>
      <button onclick="changeFishPersonality('depressed')">Depressed</button>
      <button onclick="changeFishPersonality('sassy')">Sassy</button>
      <button onclick="changeFishPersonality('normal')">Normal</button>
      <button onclick="changeFishPersonality('strange')">Strange</button>
      <button onclick="changeFishPersonality('excited')">Excited</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
